<router-outlet></router-outlet>
<nav class="navbar navbar-default navbar-gradient navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

      <a class="navbar-brand page-scroll" href="#page-top">
                        <img class="logo" src="../../assets/images/logo.png" alt="logo">
                    </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="page-scroll" href="#page-top">Accueil</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">A propos</a>
        </li>
        <li>
          <a class="page-scroll" href="#features">Features</a>
        </li>
        <li>
          <a class="page-scroll" href="#screenshots">Screenshots</a>
        </li>
        <li>
          <a class="page-scroll" routerLink="/modules">Modules</a>
        </li>
        <li>
          <a class="page-scroll" href="#blog">Blog</a>
        </li>
        <li>
          <a class="page-scroll" href="#review">Testimony</a>
        </li>
        <li>
          <a class="page-scroll" href="#features">Projets</a>
        </li>
        <li>
          <a class="page-scroll" href="#faq">Liste des matieres</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
        <li class="dropdown">
          <a href="blog-single-post-image.html">Pages</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="blog-grid-full-width.html">Blog</a></li>
            <li><a href="404-interactive-bg.html">404</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>
