<router-outlet></router-outlet>
<nav class="navbar navbar-default navbar-dark navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll test">
                <img id="logo_min" class="logo-sigl" src="assets/images/LOGO_SIGL.png" style="" alt="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#hero">{{'Home' | translate}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">{{'About' | translate}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#pricing">{{'Modules' | translate}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">{{'Projects' | translate}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#faq">{{'Disciplines' | translate}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#opportunities">{{'Careers' | translate}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#socials">{{'Social' | translate}}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#q&a">{{'Q&A' | translate}}</a>
                </li>
                <li>
                    <img height="24" width="24" style="margin: 15px 0 15px 0" (click)="changeLanguage('fr')"
                        src="./assets/images/flag/France.png" />
                </li>
                <li>
                    <img height="24" width="24" style="margin: 15px 0 15px 4px" (click)="changeLanguage('en')"
                        src="./assets/images/flag/England.png" />
                </li>
                <li>
                    <a class="page-scroll" href="https://new.intranet.sigl.epita.fr/">{{'Intranet'}}</a>
                </li>
            </ul>
        </div>
    </div>

    <style>
        .logo-sigl {
            height: 5rem;
            margin-top: -1.5rem;
            display: none;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        @-webkit-keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>

</nav>
