
<navbar></navbar>
<!-- hero -->
<section id="hero" class="hero-1">
  <div class="container">
    <div class="row">
      <div class="wrap-hero-content">
        <div class="hero-content">
          <h1>
            SIGL
          </h1>
          <p class="sub-title">
            La majeure dédiée au Système d'information et au Génie Logiciel
          </p>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.hero -->
<!-- main-about -->
<section id="about" class="white-bg">
  <div class="container">
    <div class="row">
      <div class="main-about">
        <div class="col-md-4 col-sm-4 col-xs-12 np">
          <div class="img-left-01">
            <img src="../../assets/images/about/01.jpg" alt="about">
          </div>
          <div class="img-left-02">
            <img src="../../assets/images/about/02.jpg" alt="about">
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="post-about negative-margin">
            <h3 class="gradient-text">About Skapp</h3>
            <p>
              Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. In ullamcorper molestie enim sed condimentum. Nulla lacinia sem et elit ornare,
              a feugiat est volutpat. Mauris ac orci id est molestie scelerisque eget sed diam. Quisque ornare sollicitudin
              velit suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque vehicula consectetur commodo...
            </p>
          </div>
          <!-- /.post-about -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 col-sm-4 col-xs-12 np">
          <div class="img-right">
            <img src="../assets/images/about/03.jpg" alt="about">
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.main-about -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.main-about -->
<!-- features -->
<section id="features" class="features white-bg">
  <div class="container">
    <div class="row features">
      <div class="features-content">
        <div class="col-md-6">
          <div class="img-responsive mockup">
            <img src="../assets/images/mockup/01.png" alt="mockup1" title="mockup1">
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="section-title-01">
            <div class="subtitle">Features</div>
            <h2>Awesome <span class="gradient-text-02">Features</span></h2>
          </div>
          <hr class="hr-title-03">
          <div class="box">
            <div class="col-sm-3 col-xs-12 np">
              <div class="box-icon">
                <span class="fa fa-2x fa-comments-o gradient-text-02"></span>
              </div>
              <!-- /.box-icon -->
            </div>
            <!-- /.col -->
            <div class="col-sm-9 col-xs-12 np">
              <div class="info">
                <h4>Support 24/7</h4>
                <p>
                  Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque vehicula consectetur commodo...
                </p>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.box -->
          <div class="box">
            <div class="col-sm-3 col-xs-12 np">
              <div class="box-icon os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.2s">
                <span class="fa fa-2x fa-diamond gradient-text-02"></span>
              </div>
              <!-- /.box-icon -->
            </div>
            <!-- /.col -->
            <div class="col-sm-9 col-xs-12 np">
              <div class="info">
                <h4>Awesome Design</h4>
                <p>
                  Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque vehicula consectetur commodo...
                </p>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.box -->
          <div class="box">
            <div class="col-sm-3 col-xs-12 np">
              <div class="box-icon os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.2s">
                <span class="fa fa-2x fa-wrench gradient-text-02"></span>
              </div>
              <!-- /.box-icon -->
            </div>
            <!-- /.col -->
            <div class="col-sm-9 col-xs-12 np">
              <div class="info">
                <h4>Easy To Customize</h4>
                <p>
                  Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque vehicula consectetur commodo...
                </p>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.box -->
          <div class="box">
            <div class="col-sm-3 col-xs-12 np">
              <div class="box-icon os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.2s">
                <span class="fa fa-2x fa-heart gradient-text-02"></span>
              </div>
              <!-- /.box-icon -->
            </div>
            <!-- /.col -->
            <div class="col-sm-9 col-xs-12 np">
              <div class="info">
                <h4>Created With Love</h4>
                <p>
                  Suspendisse potenti. Nunc mattis sapien nec mi dictum feugiat. Pellentesque vehicula consectetur commodo...
                </p>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.features-content -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.features -->
<!-- screenshots -->
<section id="screenshots" class="screenshots grey-bg">
  <div class="container">
    <div class="section-title">
      <div class="subtitle">Screens</div>
      <h2>App <span class="gradient-text">Screenshots</span></h2>
    </div>
    <hr class="hr-title">
    <div class="screens-content">
      <div class="screens owl-carousel">
        <div class="item">
          <div><img class="img-responsive" src="../assets/images/screenshots/01.jpg" alt="screenshot"></div>
        </div>
        <div class="item">
          <div><img class="img-responsive" src="../assets/images/screenshots/02.jpg" alt="screenshot"></div>
        </div>
        <div class="item">
          <div><img class="img-responsive" src="../assets/images/screenshots/03.jpg" alt="screenshot"></div>
        </div>
        <div class="item">
          <div><img class="img-responsive" src="../assets/images/screenshots/04.jpg" alt="screenshot"></div>
        </div>
        <div class="item">
          <div><img class="img-responsive" src="../assets/images/screenshots/05.jpg" alt="screenshot"></div>
        </div>
      </div>
    </div>
    <!-- /.screens-content -->
  </div>
  <!-- /.container -->
</section>
<!-- /.screenshots -->
<!-- video -->
<section id="video" class="video white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 video-img">
        <a href="#" class="play-button text-center" id="play-video" data-video="https://www.youtube.com/embed/nrJtHemSPW4?autoplay=1&amp;showinfo=0">
                            <i class="fa fa-play"></i>
                        </a>
        <img class="img-responsive" src="../assets/images/video/03.png" alt="video" title="video">
      </div>
      <div class="col-md-5 video-col">
        <div class="section-title-01">
          <div class="subtitle">Video</div>
          <h2>Discover Our <span class="gradient-text-02">App</span></h2>
        </div>
        <hr class="hr-title-03">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel commodo lectus. Donec eget sapien nec arcu gravida faucibus
          vel sed dui.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel commodo lectus. Donec eget sapien nec arcu gravida faucibus
          vel sed dui. Proin sed mauris eros. Aliquam faucibus at magna vel aliquam. Vivamus lacinia diam tincidunt, luctus
          nulla ac, tincidunt mi. Maecenas lobortis aliquet orci.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel commodo lectus. Donec eget sapien nec arcu gravida faucibus
          vel sed dui. Proin sed mauris eros. Aliquam faucibus at magna vel aliquam...
        </p>
      </div>
    </div>
  </div>
  <div class="work-video show-video">
    <a href="#" class="close-video"></a>
  </div>
</section>
<!-- /.video -->
<!-- pricing -->
<section id="pricing" class="pricing white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pricing-col">
        <div class="section-title-01">
          <h2>Les Modules <span class="gradient-text">SIGL</span></h2>
        </div>
        <hr class="hr-title-02">
        <p>
          Afin de préparer au mieux les étudiants au monde de l'entreprise, la majeure SIGL s'articule autour de 4 modules majeurs apportant chacun
          une partie de la culture et des connaissances requises pour construire les technologies de demain.
        </p>

      </div>
      <!-- /.col -->
      <div class="col-md-12" role="tabpanel">
        <div id="tabs-collapse" class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="normal">
            <div class="tab-inner">
              <div class="col-md-3 col-sm-3 col-xs12 np">
                <div class="pricing-table">
                  <div class="pricing-table-header">
                    <h3 class="heading">Mobilité et Applications</h3>
                  </div>
                  <p class="pricing-content">
                    Découvrir et appréhender les nouveaux challenges du logiciel afin de s'intégrer dans des contraintes de mobilité
                    toujours plus grandes, notamment via la technologie de l'IoT (Internet of Things)
                  </p>
                  <hr>
                  <a href="#" class="dark-btn">
                                                <span>Découvrir le module</span>
                                            </a>
                </div>
                <!-- /.pricing-table -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-3 col-xs12 np">
                <div class="pricing-table best">
                  <div class="pricing-table-header">
                    <h3 class="heading gradient-text">Cloud et architecture</h3>
                  </div>
                  <p class="pricing-content">
                    Comprendre le mode de construction et le fonctionnement des systèmes d'information ainsi que son architecture technique
                    Découverte des technologies Cloud (Public, privé et hybride) et du Big Data.
                  </p>
                  <hr>
                  <a href="#" class="gradient-btn">
                                                <span>Découvrir le module</span>
                                            </a>
                </div>
                <!-- /.pricing-table -->
              </div>

              <div class="col-md-3 col-sm-3 col-xs12 np">
                <div class="pricing-table">
                  <div class="pricing-table-header">
                    <h3 class="heading">Leadership et management</h3>
                  </div>
                  <p class="pricing-content">
                    Maitriser les nouveaux modèles économiques afin de répondre aux nouveaux besoins de la gouvernance IT
                  </p>
                  <hr>
                  <a href="#" class="dark-btn">
                                                <span>Découvrir le module</span>
                                            </a>
                </div>
                <!-- /.pricing-table -->
              </div>

              <div class="col-md-3 col-sm-3 col-xs12 np">
                <div class="pricing-table best">
                  <div class="pricing-table-header">
                    <h3 class="heading gradient-text">Digitalisation et Transformation</h3>
                  </div>
                  <p class="pricing-content">
                    Comprendre et et rendre viable la transformation digitale des entreprises ainsi que les nouveaux leviers d'innovation rendus possibles par l'IT
                  </p>
                  <hr>
                  <a href="#" class="gradient-btn">
                                                <span>Découvrir le module</span>
                                            </a>
                </div>
                <!-- /.pricing-table -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.tab-inner -->
          </div>
          <!-- /.tabe-pane -->
          <div role="tabpanel" class="tab-pane fade" id="extended">
            <div class="tab-inner">
              <div class="col-md-6 col-sm-6 col-xs12 np">
                <div class="pricing-table best">
                  <div class="pricing-table-header">
                    <h3 class="heading gradient-text">Advanced</h3>
                  </div>
                  <p class="pricing-content">
                    Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante,
                    posuere dignissim metus volutpat.
                  </p>
                  <hr>
                  <div class="price-value gradient-text">$185</div>
                  <a href="#" class="gradient-btn">
                                                <span>Buy Now</span>
                                            </a>
                </div>
                <!-- /.pricing-table -->
              </div>
              <!-- /.col -->
              <div class="col-md-6 col-sm-6 col-xs12 np">
                <div class="pricing-table">
                  <div class="pricing-table-header">
                    <h3 class="heading">Standard</h3>
                  </div>
                  <p class="pricing-content">
                    Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante,
                    posuere dignissim metus volutpat.
                  </p>
                  <hr>
                  <div class="price-value">$100</div>
                  <a href="#" class="dark-btn">
                                                <span>Buy Now</span>
                                            </a>
                </div>
                <!-- /.pricing-table -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.tab-inner -->
          </div>
          <!-- /.tabe-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.pricing -->
<!-- review -->
<section class="white-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 np text-center" role="tabpanel">
        <div class="review bg-image-1">
          <div class="wrap-review-content">
            <div class="review-content">
              <!-- nav-tabs -->
              <ul class="nav review-nav" role="tablist">
                <li role="presentation" class="">
                  <a href="#phil" aria-controls="phil" role="tab" data-toggle="tab">
                                                <img class="img-circle" src="../assets/images/review/01.jpg" alt="review" width="130">
                                                <span class="quote"><i class="fa fa-quote-left"></i></span>
                                            </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#jane" aria-controls="jane" role="tab" data-toggle="tab">
                                                <img class="img-circle" src="../assets/images/review/02.jpg" alt="review" width="130">
                                                <span class="quote"><i class="fa fa-quote-left"></i></span>
                                            </a>
                </li>
                <li role="presentation" class="">
                  <a href="#ben" aria-controls="ben" role="tab" data-toggle="tab">
                                                <img class="img-circle" src="../assets/images/review/03.jpg" alt="review" width="130">
                                                <span class="quote"><i class="fa fa-quote-left"></i></span>
                                            </a>
                </li>
              </ul>
              <!-- /.nav-tabs -->
              <!-- tab-panel -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="phil">
                  <div class="tab-inner">
                    <div class="testimonial">
                      <h3 class="testimonial-title">
                        Phil
                      </h3>
                      <p><em class="text-capitalize"> UX designer</em> at <a href="#">Google</a></p>
                      <p class="description">
                        Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante,
                        posuere dignissim metus volutpat quis. Maecenas quis nunc nunc. Nam quam eros, ultrices vel urna
                        a, varius cursus diam. Aliquam vehicula nulla id erat lobortis scelerisque. Sed dignissim vestibulum
                        magna vel tempus.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="jane">
                  <div class="tab-inner">
                    <div class="testimonial">
                      <h3 class="testimonial-title">
                        Jane
                      </h3>
                      <p><em class="text-capitalize"> Webdesigner</em> at <a href="#">Envato</a></p>
                      <p class="description">
                        Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante,
                        posuere dignissim metus volutpat quis. Maecenas quis nunc nunc. Nam quam eros, ultrices vel urna
                        a, varius cursus diam. Aliquam vehicula nulla id erat lobortis scelerisque. Sed dignissim vestibulum
                        magna vel tempus.
                      </p>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ben">
                  <div class="tab-inner">
                    <div class="testimonial">
                      <h3 class="testimonial-title">
                        Ben
                      </h3>
                      <p><em class="text-capitalize"> Manager</em> at <a href="#">Apple</a></p>
                      <p class="description">
                        Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante,
                        posuere dignissim metus volutpat quis. Maecenas quis nunc nunc. Nam quam eros, ultrices vel urna
                        a, varius cursus diam. Aliquam vehicula nulla id erat lobortis scelerisque. Sed dignissim vestibulum
                        magna vel tempus.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-panel -->
            </div>
            <!-- /.review-content -->
          </div>
          <!-- /.wrap-review-content -->
        </div>
        <!-- /.review -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 np">
        <div class="downloads-margin">
          <div class="downloads bg-image-2">
            <div class="wrap-downloads-content">
              <div class="downloads-content text-center">
                <h4 class="gradient-text-02">Get Skapp Now</h4>
                <p>
                  Maecenas quis nunc nunc. Nam quam eros, ultrices vel urna a, varius cursus diam. Aliquam vehicula nulla id erat lobortis
                  scelerisque. Sed dignissim vestibulum magna vel tempus.
                </p>
                <div class="inline-block">
                  <a href="#" class="store os-animation" data-os-animation="slideInUp">
                                                <i class="fa fa-apple"></i>
                                            </a>
                  <a href="#" class="store space os-animation" data-os-animation="slideInUp" data-os-animation-delay="0.2s">
                                                <i class="fa fa-android"></i>
                                            </a>
                  <a href="#" class="store space os-animation" data-os-animation="slideInUp" data-os-animation-delay="0.2s">
                                                <i class="fa fa-windows"></i>
                                            </a>
                </div>
              </div>
              <!-- /.downloads-content -->
            </div>
            <!-- /.wrap-downloads-content -->
          </div>
          <!-- /.downloads -->
        </div>
        <!-- /.downloads-margin -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.reviews -->
<!-- blog -->
<section id="blog" class="blog white-bg">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="subtitle">Blog</div>
        <h2>Latest <span class="gradient-text-02">Post</span></h2>
      </div>
      <hr class="hr-title-04">
      <div class="col-md-7 mb-30">
        <article class="card">
          <header class="card-thumb">
            <img src="../assets/images/blog/03.jpg" alt="blog">
          </header>
          <!-- /.header -->
          <div class="card-date">
            <span class="card-date-day">06</span>
            <span class="card-date-month">Apr</span>
          </div>
          <!-- /.card-date -->
          <div class="card-body">
            <h3 class="card-title"><a href="blog-single-post-image.html">Blog Title</a></h3>
            <div class="card-subtitle">Lacus elementum pellentesque</div>
            <p class="card-description">
              Aliquam molestie imperdiet justo, sagittis euismod nisi rutrum a. Cras et varius felis, eu maximus dui. Suspendisse venenatis
              ex neque, quis facilisis tortor scelerisque vel. In ac quam finibus, pharetra mauris vel, aliquam augue...
            </p>
          </div>
          <!-- /.card-body -->
          <footer class="card-footer text-center">
            <ul class="post-info">
              <li><a href="#"><i class="fa fa-tag"></i>tags</a></li>
              <li><a href="#"><i class="fa fa-comments"></i>97</a></li>
            </ul>
          </footer>
          <!-- /.footer -->
        </article>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-5 mb-30">
        <article class="card">
          <header class="card-thumb">
            <img src="../assets/images/blog/05.jpg" alt="blog">
          </header>
          <!-- /.header -->
          <div class="card-date">
            <span class="card-date-day">05</span>
            <span class="card-date-month">Apr</span>
          </div>
          <!-- /.card-date -->
          <div class="card-body">
            <h3 class="card-title"><a href="blog-single-post-image.html">Blog Title</a></h3>
            <div class="card-subtitle">Lacus elementum pellentesque</div>
            <p class="card-description">
              Aliquam molestie imperdiet justo, sagittis euismod nisi rutrum a. Cras et varius felis, eu maximus dui. Suspendisse venenatis
              ex neque, quis facilisis tortor scelerisque vel. In ac quam finibus, pharetra mauris vel, aliquam augue...
            </p>
          </div>
          <!-- /.card-body -->
          <footer class="card-footer text-center">
            <ul class="post-info">
              <li><a href="#"><i class="fa fa-tag"></i>tags</a></li>
              <li><a href="#"><i class="fa fa-comments"></i>219</a></li>
            </ul>
          </footer>
          <!-- /.footer -->
        </article>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="clearfix"></div>
      <div class="col-md-4 mb-30">
        <article class="card">
          <header class="card-thumb">
            <img src="../assets/images/blog/01.jpg" alt="blog">
          </header>
          <!-- /.header -->
          <div class="card-date">
            <span class="card-date-day">04</span>
            <span class="card-date-month">Apr</span>
          </div>
          <!-- /.card-date -->
          <div class="card-body">
            <h3 class="card-title"><a href="blog-single-post-image.html">Blog Title</a></h3>
            <div class="card-subtitle">Nullam cursus condimentum</div>
            <p class="card-description">
              Aliquam molestie imperdiet justo, sagittis euismod nisi rutrum a. Cras et varius felis, eu maximus dui. Suspendisse venenatis
              ex neque, quis facilisis tortor scelerisque vel. In ac quam finibus, pharetra mauris vel, aliquam augue...
            </p>
          </div>
          <!-- /.card-body -->
          <footer class="card-footer text-center">
            <ul class="post-info">
              <li><a href="#"><i class="fa fa-tag"></i>tags</a></li>
              <li><a href="#"><i class="fa fa-comments"></i>257</a></li>
            </ul>
          </footer>
          <!-- /.footer -->
        </article>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 mb-30">
        <article class="card">
          <header class="card-thumb">
            <img src="../assets/images/blog/02.jpg" alt="blog">
          </header>
          <!-- /.header -->
          <div class="card-date">
            <span class="card-date-day">03</span>
            <span class="card-date-month">Apr</span>
          </div>
          <!-- /.card-date -->
          <div class="card-body">
            <h3 class="card-title"><a href="blog-single-post-image.html">Blog Title</a></h3>
            <div class="card-subtitle">Lacus elementum pellentesque</div>
            <p class="card-description">
              Aliquam molestie imperdiet justo, sagittis euismod nisi rutrum a. Cras et varius felis, eu maximus dui. Suspendisse venenatis
              ex neque, quis facilisis tortor scelerisque vel. In ac quam finibus, pharetra mauris vel, aliquam augue...
            </p>
          </div>
          <!-- /.card-body -->
          <footer class="card-footer text-center">
            <ul class="post-info">
              <li><a href="#"><i class="fa fa-tag"></i>tags</a></li>
              <li><a href="#"><i class="fa fa-comments"></i>359</a></li>
            </ul>
          </footer>
          <!-- /.footer -->
        </article>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 mb-30">
        <article class="card">
          <header class="card-thumb">
            <img src="../assets/images/blog/03.jpg" alt="blog">
          </header>
          <!-- /.header -->
          <div class="card-date">
            <span class="card-date-day">02</span>
            <span class="card-date-month">Apr</span>
          </div>
          <!-- /.card-date -->
          <div class="card-body">
            <h3 class="card-title"><a href="blog-single-post-image.html">Blog Title</a></h3>
            <div class="card-subtitle">Suspendisse sollicitudin nulla</div>
            <p class="card-description">
              Aliquam molestie imperdiet justo, sagittis euismod nisi rutrum a. Cras et varius felis, eu maximus dui. Suspendisse venenatis
              ex neque, quis facilisis tortor scelerisque vel. In ac quam finibus, pharetra mauris vel, aliquam augue...
            </p>
          </div>
          <!-- /.card-body -->
          <footer class="card-footer text-center">
            <ul class="post-info">
              <li><a href="#"><i class="fa fa-tag"></i>tags</a></li>
              <li><a href="#"><i class="fa fa-comments"></i>181</a></li>
            </ul>
          </footer>
          <!-- /.footer -->
        </article>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.blog -->
<!-- newsletter -->
<section class="bottom-content white-bg">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="subtitle">Subscribe</div>
        <h2>Join Our <span class="gradient-text">Newsletter</span></h2>
      </div>
      <hr class="hr-title">
      <p class="text-center">Subscribe for our monthly newsletter to stay updated</p>
      <div class="col-md-5">
        <div class="newsletter">
          <input type="text" class="form-control" placeholder="Your name">
        </div>
        <!-- /.newsletter-form -->
      </div>
      <!-- /.col -->
      <div class="col-md-2 text-center">
        <div class="newsletter os-animation" data-os-animation="bounceIn" data-os-animation-delay="0.2s">
          <a href="#" class="subscribe-btn"><i class="fa fa-paper-plane"></i></a>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-md-5">
        <div class="newsletter">
          <input type="text" class="form-control" placeholder="Your email">
        </div>
        <!-- /.newsletter-form -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.newsletter -->
<!-- contact -->
<section id="contact" class="white-bg">
  <div class="container">
    <div class="row">
      <div class="contact">
        <div class="col-md-4 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
          <div class="contact-box">
            <div class="contact-icon">
              <i class="fa fa-map-marker gradient-text-01"></i>
            </div>
            <!-- /.contact-icon -->
            <div class="contact-content">
              <h3 class="title">Address</h3>
              <p class="description">
                PO Box 16122, Collins Street West,
                <br> Victoria 8007, Australia
              </p>
            </div>
            <!-- /.contact-content -->
          </div>
          <!-- /.contact-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
          <div class="contact-box">
            <div class="contact-icon">
              <i class="fa fa-phone gradient-text-01"></i>
            </div>
            <!-- /.contact-icon -->
            <div class="contact-content">
              <h3 class="title">Phone</h3>
              <p class="description">
                <strong>O : </strong> 1-123-456-7890
                <br>
                <strong>F : </strong> 1-123-456-7890
              </p>
            </div>
            <!-- /.contact-content -->
          </div>
          <!-- /.contact-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
          <div class="contact-box">
            <div class="contact-icon">
              <i class="fa fa-envelope gradient-text-01"></i>
            </div>
            <!-- /.contact-icon -->
            <div class="contact-content">
              <h3 class="title">Email</h3>
              <p class="description">
                contact@skapp.com
                <br> admin@skapp.com
              </p>
            </div>
            <!-- /.contact-content -->
          </div>
          <!-- /.contact-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.contact -->
    </div>
  </div>
</section>

<!--Testimony -->
<section id="review" class="review bg-image-3">
            <div class="wrap-review-content">
                <div class="review-content text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2" role="tabpanel">
                                <!-- tab-panel -->
                                <div class="tab-content" id="tabs-collapse">            
                                    <div role="tabpanel" class="tab-pane fade" id="phil">
                                        <div class="tab-inner">                    
                                            <div class="testimonial">
                                                <p class="description">
                                                    Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante, posuere dignissim metus volutpat quis. Maecenas quis nunc nunc. Nam quam eros, ultrices vel urna a, varius cursus diam. Aliquam vehicula nulla id erat lobortis scelerisque. Sed dignissim vestibulum magna vel tempus. 
                                                </p>
                                                <hr>
                                                <h3 class="testimonial-title">
                                                    Phil
                                                </h3>
                                                <p><em class="text-capitalize"> UX designer</em> at <a href="#">Google</a></p>
                                            </div>                
                                        </div>
                                    </div>                                       
                                    <div role="tabpanel" class="tab-pane fade in active" id="jane">
                                        <div class="tab-inner">
                                            <div class="testimonial">
                                                <p class="description">
                                                    Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante, posuere dignissim metus volutpat quis. Maecenas quis nunc nunc. Nam quam eros, ultrices vel urna a, varius cursus diam. Aliquam vehicula nulla id erat lobortis scelerisque. Sed dignissim vestibulum magna vel tempus. 
                                                </p>
                                                <hr>
                                                <h3 class="testimonial-title">
                                                    Jane
                                                </h3>
                                                <p><em class="text-capitalize"> Webdesigner</em> at <a href="#">Envato</a></p>
                                            </div> 
                                        </div>
                                    </div>                                       
                                    <div role="tabpanel" class="tab-pane fade" id="ben">
                                        <div class="tab-inner">
                                            <div class="testimonial">
                                                <p class="description">
                                                    Maecenas at feugiat massa. Praesent non nunc augue. Donec condimentum nunc at dapibus tincidunt. Phasellus rhoncus urna ante, posuere dignissim metus volutpat quis. Maecenas quis nunc nunc. Nam quam eros, ultrices vel urna a, varius cursus diam. Aliquam vehicula nulla id erat lobortis scelerisque. Sed dignissim vestibulum magna vel tempus. 
                                                </p>
                                                <hr>
                                                <h3 class="testimonial-title">
                                                    Ben
                                                </h3>
                                                <p><em class="text-capitalize"> Manager</em> at <a href="#">Apple</a></p>
                                            </div> 
                                        </div> 
                                    </div>                                   
                                </div>
                                <!-- /.tab-panel -->
                                <!-- nav-tabs -->
                                <ul class="nav review-nav" id="nav-tabs" role="tablist">
                                    <li role="presentation" class="">
                                        <a href="#phil" aria-controls="phil" role="tab" data-toggle="tab">
                                            <img class="img-circle" src="assets/images/review/01.jpg" alt="review" width="130">
                                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="active">
                                        <a href="#jane" aria-controls="jane" role="tab" data-toggle="tab">
                                            <img class="img-circle" src="assets/images/review/02.jpg" alt="review" width="130">
                                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#ben" aria-controls="ben" role="tab" data-toggle="tab">
                                            <img class="img-circle" src="assets/images/review/03.jpg" alt="review" width="130">
                                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.nav-tabs -->
                            </div>
                            <!-- /.tab-panel -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.review-content -->
            </div>
            <!-- /.wrap-review-content -->
        </section>
<!-- Project page -->
    <section id="features" class="features white-bg">
            <div class="container">
                <div class="row features">
                    <div class="section-title">
                        <h2>Projets</h2>
                    </div>
                    <hr class="hr-title-01 hr-icon">
                    <div class="features-content">
                        <div class="col-xs-12 col-md-4">
                            <div class="box">
                                <div style="margin: 20px;" data-os-animation="fadeInDown">
                                    <span><img src="../assets/images/assetProject/cloud.jpg" width="70" height="70"/></span>
                                </div>
                                <div class="info">
                                    <h4 class="text-center">Cloud Hybride</h4>
                                    <p>
                                        Création d'un Cloud à la fois public et privé à l'aide d'Openstack et de services PaaS tel qu'AWS et Azure.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="box">
                                <div style="margin: 20px;" data-os-animation="fadeInDown">
                                    <span><img src="../assets/images/assetProject/bcase.jpg" width="70" height="70"/></span>
                                </div>
                                <div class="info">
                                    <h4 class="text-center">VIRT</h4>
                                    <p>
                                        Réalisation de Business cases projets se basant sur des lignes de coûts et des leviers d’économies.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="box">
                                <div style="margin: 20px;" data-os-animation="fadeInDown">
                                    <span><img src="../assets/images/assetProject/iot.jpg" width="70" height="70"/></span>
                                </div>
                                <div class="info">
                                    <h4 class="text-center">IoT</h4>
                                    <p>
                                         Proposer un produit IoT puis le marketer (BCase, pub vidéo) jusqu'à la réalistion d'un Proof Of Concept
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="box">
                                <div style="margin: 20px;" data-os-animation="fadeInDown">
                                    <span><img src="../assets/images/assetProject/pae.jpg" width="70" height="70"/></span>
                                </div>
                                <div class="info">
                                    <h4 class="text-center">PAE</h4>
                                    <p>
                                       Projet avec entreprise tout le long de l'année; <br/>
                                       SIGL, RE, Société Général, KornFerry, GN...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="box">
                                      <div style="margin: 20px;" data-os-animation="fadeInDown">
                                    <span><img src="../assets/images/assetProject/ursi.jpg" width="70" height="70"/></span>
                                </div>
                                <div class="info">
                                    <h4 class="text-center">URSI</h4>
                                    <p>
                                        Développement d'un SI  simulant le comportement d'une société de distibution tel que la Fnac et Darty.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="box">
                                <div style="margin: 20px;" data-os-animation="fadeInDown">
                                    <span><img src="../assets/images/assetProject/www.jpg" width="70" height="70"/></span>
                                </div>
                                <div class="info">
                                    <h4 class="text-center">Web Technologies</h4>
                                    <p>
                                        Deux projets avec des technologies modernes différentes au choix; ROR, Javascript, Golang...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
<!-- /.contact -->
<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="appstore">
          <div class="col-sm-3 col-xs-12 np">
            <div class="appstore-icon os-animation" data-os-animation="bounceIn" data-os-animation-delay="0.2s">
              <img class="logo" src="../assets/images/logo-2.png" alt="logo">
            </div>
            <!-- /.box-icon -->
          </div>
          <!-- /.col -->
          <div class="col-sm-9 col-xs-12 np">
            <div class="info">
              <h4>Skapp Landing Page</h4>
              <p>
                By Saerox
              </p>
              <div class="ratings inline-block">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span class="nb-ratings">(357)</span>
              </div>
            </div>
            <!-- /.info -->
          </div>
          <!-- /.col -->
        </div>
      </div>
      <div class="col-md-6">
        <p class="copyright">
          ©Skapp 2017 made by Saerox in france.
        </p>
      </div>
      <!-- /.col -->
      <div class="col-md-6">
        <ul class="social-network">
          <li><a href="#" class="ico-facebook" title="Facebook">
                                <i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#" class="ico-twitter" title="Twitter">
                                <i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.behance.net/Saerox" class="ico-behance" title="Behance">
                                <i class="fa fa-behance"></i></a>
          </li>
          <li><a href="http://dsaerox.deviantart.com/" class="ico-deviantart" title="Deviantart">
                                <i class="fa fa-deviantart"></i></a>
          </li>
        </ul>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>
</footer>
<!-- /.footer -->

<!-- scripts -->
<script src="../../assets/js/core/jquery-3.1.1.min.js"></script>
        <script src="../../assets/js/core/bootstrap.min.js"></script>
        <script src="../../assets/js/core/jquery.easing.min.js"></script>
        <script src="../../assets/js/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="../../assets/js/plugins/typed/typed.min.js"></script>
        <script src="../../assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $('.slide-out-div').tabSlideOut({
                    tabHandle: '.handle',                   
                    tabLocation: 'right',                 
                    speed: 500,                           
                    action: 'click',               
                    topPos: '0',  
                    onLoadSlideOut: true,                                    
                    fixedPosition: true                    
                });
            });
        </script>
        <script src="../../assets/js/core/main.js"></script>
        <script src="../../assets/js/core/demo.switcher.min.js"></script>
        <script src="../../assets/js/pages/homepage-01.js"></script>
